@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Atkinson Hyperlegible", serif;
    font-size: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #5F6C37;
}

.navbar_logo {
    padding-top: 2px;
    width: 130px;
}

.navbar_menu {
    display: flex;
    gap: 70px;
    padding-left: 4%;
}

.navbar_menu_item {
    font-size: 15px;
    color: white;
}

.conteudo {
    margin-bottom: 60px;
}

.hero_principal {
    display: flex;
    flex-direction: row;
    background-image: url(grafismo_geo.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.hero_principal_escrito {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 14%;
    padding-top: 7%;
    padding-bottom: 7%;
    max-width: 50%;
}

.hero_principal_escrito_titulo {
    font-size: 40px;
}

.hero_principal_escrito_subtitulo {
    font-weight: 100;
    font-size: 16px;
}

.hero_principal_imagem {
    display: flex;
    justify-content: flex-end;
}

.conteudo_secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5F6C37;
}

.texto_secundario {
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: 20px;
    text-align: justify;
}

.img_secundario {
    width: 70%;
    padding-bottom: 2%;
}

.info1texto_titulo {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    padding: 2%;
    padding-left: 14%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .button-left, .button-right {
    position: absolute;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    
    background-color: rgba(22,24,30, .5);
    color: white;
    transition: background-color 200ms ease-in-out;
  }
  
  .button-left:hover, .button-right:hover {
     background-color: rgba(22,24,30, .8);
  }
  
  .button-left {
    justify-content: flex-start;
    top: 0;
    bottom: 0;  
  }
  
  .button-right {
    justify-content: flex-end;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .carrossel {
    display: flex;
    gap: 50px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1.4rem;
  }
  
  .item {
    flex-shrink: 0;
    width: 700px;
    height: 250px;
    padding: 60px;
    border-radius: 20px;
    background-color: #273617;
    color: white;
  }

  .item_texto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bgimage {
    background-image: url(grafismo_raiz.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 29%;
}

.info2texto{
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 14%;
}

.info2texto_titulo {
    font-size: 35px;
}

.info2texto_subtitulo1 {
    font-size: 20px;
    font-weight: 100;
}

.info2texto_subtitulo2 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
}

.imgholder {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 85%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #273617;
}

.footerimg {
    padding: 1%;
}

.footer_texto {
    color: white;
    font-size: 20px;
}

.icone_facebook {
    padding-left: 12px;
    padding-bottom: 4.5px;
}
